.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: darkslategrey;
  width: 100%;
  text-align: center;
}
.myDiv {
  background-color: darkslategrey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7em;
  text-align: center;
  align-items: center;
}

#main-holder {
  width: 50%;
  height: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 25%;
  margin-right: 50%;
  position: static;
  align-self: self-start;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  text-align: center;
  background-color: darkslategray;
  left: 0%;
  top: 0%;
  position: fixed;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #080909;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: skyblue;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: darkslategrey;
  color: white;
}

#complaint {
  width: 50%;
  height: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 25%;
  margin-right: 50%;
  position: static;
  align-self: self-start;
}

#form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.complain-form-field::placeholder {
  color: #3a3a3a;
}

.complaint-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

#user-holder {
  width: 50%;
  height: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 25%;
  margin-right: 50%;
  position: static;
  align-self: self-start;
}

#user-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#user-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#user-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.user-form-field::placeholder {
  color: #3a3a3a;
}

.user-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#user-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}
